:root {
    padding-left: 4px;
    padding-top: 4px;
}

.space{
    height:10px;
}

.buildButton{
    flex:1;
}

#refreshButton {
    position: absolute;
    right: 2px;
    top: 0px;
    width: 55px;
}

#buildButtonsContainer{
    flex-direction:row;
}
