:root {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.category{
    margin-bottom: 20px;
}

.buildButton{
    flex:1;
}

#refreshButton {
    position: absolute;
    right: 2px;
    top: 0px;
    width: 55px;
}

#buildButtonsContainer{
    flex-direction:row;
}
