
CommandVisualElement {
    flex-direction: row;
    align-items:center;
}

.addIndicator{
    position:absolute;
    right: 2px;
}

#label {
}

#addButton {
}

#addedLabel{
    -unity-font-style: italic;
}